{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> About us
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="row align-items-center mb-50">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/imgs/page/areli.jpg' %}" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                            </div>
                            <div class="col-lg-6">
                                <div class="pl-25">
                                    <h2 class="mb-30">Welcome to Areli Electronics</h2>
                                    <p class="mb-25">
                                        Areli Electronics is one of the  leading provider of high-quality electronic products, specializing in household and heavy appliances. 
                                        With our commitment to innovation, quality, and customer satisfaction, 
                                        we have been serving consumers and businesses for over 5 years.
                                        
                                        </p>
                                        <p class="mb-25">
                                            
                                            At Areli Electronics, we strive to meet the ever-growing 
                                            demands of the electronics market by constantly expanding
                                             our product range and staying up-to-date with the 
                                             latest technological advancements. 
                                             Our team of experienced professionals ensures that all our products 
                                             meet the highest industry standards and provide exceptional 
                                             performance.

                                             We pride in Wide Range of Products, 
                                             Exceptional Quality,  Affordable Pricing, 
                                             Dedicated Customer Support & Sustainability.

                                            </p>
                                            
                                    
                                    
                                </div>
                            </div>
                        </section>
                        
                                       
                                    
            </div>
        </div>
    </main>
{% endblock content %}