{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> Shipping
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <section class="row align-items-center mb-50">
                           <h2 class="mb-25 ml-15"> Shipping</h2>
                           <hr/>
                           <h4>Fast shipping</h4>
                                    
                            <p class="mb-25">
                                Punctuality is the soul of business they say and as part of our effort to improve on our services, most especially our delivery time frame to meet our customer’s schedule, goods ordered from our store will be shipped within 1-2 day(s) of Monday-to-Saturday for customers within Port-Harcourt while orders made outside of Port-Harcourt will be delivered within 2-6 days.
      
                            </p>
                                                                    
                            <h4>Free delivery in Rivers
                            </h4>
                            <p class="mb-25">
                                We offer free delivery (order above 700,000.00) of goods or items ordered from our store to our customers in and around Port-Harcourt. For customers ordering from outside Port-Harcourt, the location will determine the shipping fee.

                            </p>
                            <h4>Means of Delivery
                            </h4>

                            <p>We process most of our deliveries using our inbound delivery services. In some other cases, we deliver through reputable courier services at same delivery cost.
                                Does Areli Electronics Offer International Delivery?
                                We don’t offer international delivery. You are welcome to make your purchases on our site from anywhere in the world, but you’ll have to ensure the delivery address is within Nigeria.</p>
                            </p>   
                                    
                                
                        </section>
                    </div>  
                </div>                      
                                    
            </div>
        </div>
    </main>
{% endblock content %}